

.home {
  padding: 20px;
  background-color: #f9f9f9;
  height: 100%;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

}

.home p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.home ul {
  list-style-type: none;
  padding: 0;
}

.home ul li {
  margin-bottom: 10px;
}

.home ul li a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.home ul li a:hover {
  color: #0056b3;
}